default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: wc_development

test:
  <<: *default
  database: wc_test

production:
  <<: *default
  database: wc_production
  username: wc
  #password: PASSW0RD
  password: <%= ENV['WC_DATABASE_PASSWORD'] %>
